.container {
  display: flex;
  /* flex-wrap: wrap; This going to be wrap the all items in the container */
  gap: 1rem;
  flex-direction: column; /* changed the main axis to top to bottom */
}


.container > div {
  border: 2px solid blue;
  padding: 40px;
  flex: 1; /* it's will flex all items to fit */
  flex: 1 2 200px; /* it' only works with height with column layout instead of row width */
  background-color: yellow;
  text-align: center;
  /* min-height: 150px; */
}